* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin-top: 10px;
}
 
header {
    background-color: #228b22;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .header-content {
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .home {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .profile {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 150px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.profile1 {
    background-color: #fff; /* White background */
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #b8e994; /* Yellowish green border */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile h2 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile:hover {
    transform: translateY(-10px); /* Lift effect */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.1); /* Slight scale up on hover */
}

.social-links img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    transition: filter 0.3s ease;
}

.social-links img:hover {
    filter: brightness(0.8); /* Darken the icons slightly on hover */
}