body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  header {
    background-color: #228b22;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  
  }
  
  #logout  {
    
      background-color: #ffffff;
      color: #228b22;
      border: 2px solid #228b22;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
      cursor: pointer;
      font-weight: bold;
      margin: 2px;
    
  }
  
  .header-content {
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #logo {
    height: 40px;
    width: 40px;
  }
  .user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .home {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .profile {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .user-actions span {
    font-size: 1rem;
  }
  
  h2 {
    margin-top: 120px;
    text-align: center;
    color: #333;
  }
  
  form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto 20px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    /* padding: 20px; */
    max-width: 800px;
    margin: auto;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  #profitOutput {
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 2px; */
    color: #001eff;
    justify-content: center;
    align-items: center;
    display: flex;
  }