* {
    font-family: Arial, sans-serif;
    
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  header {
    background-color: #228b22;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .header-content {
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .home {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  .profile {
    color: black;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .content {
      width: 500px;
      border: 5px solid green;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
  }
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      /* width: 400px; */
      gap: 60px;
      font-size: 20px;
  }
  
  img {
      border-radius: 200px;
      padding: 5px;
  }
  
  .data-type div, .data div {
      padding: 15px 0;
      color: green;
  }
  
  .data-type, .data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }