body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

header {
 
  background-color: #228b22;
  color: white;
  padding: 1rem 0;
}

.header-content {
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.home {
  color: black;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.profile {
  color: black;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-actions span {
  font-size: 1rem;
}

button {
  background-color: #ffffff;
  color: #228b22;
  border: 2px solid #228b22;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  margin: 2px;
}

button:hover {
  background-color: #e0e0e0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  height: 480px;
}

.crop-management-section h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  border: 2px solid #228b22;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 1rem;
  color: #1b5a02;
}

.card button {
  display: block;
  margin: 0 auto;
  background-color: #228b22;
  color: white;
  border: none;
}

.card button:hover {
  background-color: #1a6f1a;
}

.hidden {
  display: none;
}

#loadMore {
  display: block;
  margin: 2rem auto;
  background-color: #228b22;
  color: white;
  border: none;
}

#loadMore:hover {
  background-color: #1a6f1a;
}

footer {
  background-color: #228b22;
  color: white;
  padding: 1rem 0;
  margin-top: 45px;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header-content, .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }

  .welcome-section {
    padding: 1rem;
  }

  .welcome-section h1 {
    font-size: 1.5rem;
  }

  .welcome-section p {
    font-size: 1rem;
  }
}